p{
    color: rgb(255, 255, 255);
    font-size: 300%;
   
;
}
.hy{
    font-size: 400%;
    color:rgb(251, 255, 30);
    
}
body{
   
    font-family: sans-serif;
  
    text-align: center
}
#message{
    font-style: italic;
}
button{
    
    color: rgb(31, 85, 31);
    background:goldenrod;
    border: none;
    font-weight: bold;
    padding-top:5px ;
    padding-bottom:5px ;
    border-radius: 2px;
    margin-top: 10px;
    width: 150px;
    font-size:25px;
   
}
img{
    width: 150px;
    height: 200px;
    border-radius: 3%;
}
#messagea{
    color:goldenrod;
} 
body{
    background-image:url(table.png);
    background-repeat:no-repeat;
}
#show{
    color:rgb(251, 255, 30);

}
#add{
    color:rgb(251, 255, 30);
}
